name: Android Build (Gradle 9.0)

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write   # GITHUB_TOKENにリリース作成権限を付与

    steps:
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: 9.2.1
